body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  line-height:36px;
}
#u2 {
  position:absolute;
  left:93px;
  top:1656px;
  width:593px;
  height:430px;
  font-size:20px;
  line-height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:520px;
}
#u4 {
  position:absolute;
  left:681px;
  top:2726px;
  width:246px;
  height:520px;
}
#u5 {
  position:absolute;
  left:2px;
  top:252px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8 {
  position:absolute;
  left:99px;
  top:2197px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
  line-height:28px;
}
#u10 {
  position:absolute;
  left:98px;
  top:2235px;
  width:233px;
  height:251px;
  font-size:20px;
  color:#FF0000;
  line-height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u13 {
  position:absolute;
  left:475px;
  top:2197px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF6600;
  line-height:28px;
}
#u15 {
  position:absolute;
  left:474px;
  top:2235px;
  width:233px;
  height:176px;
  font-size:20px;
  color:#FF6600;
  line-height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#363636;
}
#u18 {
  position:absolute;
  left:99px;
  top:2504px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#363636;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#363636;
  line-height:28px;
}
#u20 {
  position:absolute;
  left:98px;
  top:2542px;
  width:233px;
  height:176px;
  font-size:20px;
  color:#363636;
  line-height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u23 {
  position:absolute;
  left:475px;
  top:2504px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#797979;
}
#u25 {
  position:absolute;
  left:474px;
  top:2542px;
  width:233px;
  height:176px;
  font-size:20px;
  color:#797979;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:670px;
  height:22px;
}
#u27p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:652px;
  height:2px;
}
#u27p000_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:674px;
  height:24px;
}
#u27p001 {
  position:absolute;
  left:-7px;
  top:-9px;
  width:20px;
  height:20px;
}
#u27p001_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:42px;
  height:40px;
}
#u27p002 {
  position:absolute;
  left:637px;
  top:-9px;
  width:20px;
  height:20px;
}
#u27p002_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:42px;
  height:40px;
}
#u27.compound {
  width:0px;
  height:0px;
}
#u27 {
  position:absolute;
  left:88px;
  top:2461px;
  width:650px;
  height:2px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-7px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:595px;
}
#u29p000 {
  position:absolute;
  left:-288px;
  top:286px;
  width:578px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u29p000_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:600px;
  height:24px;
}
#u29p001 {
  position:absolute;
  left:-9px;
  top:-7px;
  width:20px;
  height:20px;
}
#u29p001_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:40px;
  height:42px;
}
#u29p002 {
  position:absolute;
  left:-9px;
  top:562px;
  width:20px;
  height:20px;
}
#u29p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:40px;
}
#u29.compound {
  width:0px;
  height:0px;
}
#u29 {
  position:absolute;
  left:387px;
  top:2158px;
  width:2px;
  height:575px;
}
#u30 {
  position:absolute;
  left:2px;
  top:280px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u31 {
  position:absolute;
  left:88px;
  top:2871px;
  width:576px;
  height:380px;
  font-size:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u33 {
  position:absolute;
  left:88px;
  top:31px;
  width:646px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u35 {
  position:absolute;
  left:88px;
  top:103px;
  width:672px;
  height:81px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u37 {
  position:absolute;
  left:88px;
  top:1604px;
  width:672px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u39 {
  position:absolute;
  left:88px;
  top:2121px;
  width:466px;
  height:37px;
  font-size:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u41 {
  position:absolute;
  left:97px;
  top:2796px;
  width:722px;
  height:75px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:442px;
}
#u43 {
  position:absolute;
  left:696px;
  top:1622px;
  width:209px;
  height:442px;
}
#u44 {
  position:absolute;
  left:2px;
  top:213px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:568px;
}
#u45 {
  position:absolute;
  left:1693px;
  top:250px;
  width:1212px;
  height:568px;
}
#u46 {
  position:absolute;
  left:2px;
  top:276px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u48 {
  position:absolute;
  left:704px;
  top:250px;
  width:134px;
  height:67px;
  font-size:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u50 {
  position:absolute;
  left:35px;
  top:393px;
  width:134px;
  height:67px;
  font-size:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u52 {
  position:absolute;
  left:368px;
  top:393px;
  width:134px;
  height:67px;
  font-size:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u54 {
  position:absolute;
  left:704px;
  top:393px;
  width:134px;
  height:67px;
  font-size:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u56 {
  position:absolute;
  left:1039px;
  top:393px;
  width:134px;
  height:67px;
  font-size:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u58 {
  position:absolute;
  left:1375px;
  top:393px;
  width:134px;
  height:67px;
  font-size:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  text-align:left;
}
#u60 {
  position:absolute;
  left:302px;
  top:545px;
  width:265px;
  height:447px;
  font-size:26px;
  text-align:left;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  text-align:left;
}
#u62 {
  position:absolute;
  left:638px;
  top:545px;
  width:265px;
  height:447px;
  font-size:26px;
  text-align:left;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:left;
}
#u64 {
  position:absolute;
  left:973px;
  top:545px;
  width:265px;
  height:447px;
  font-size:24px;
  text-align:left;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  text-align:left;
}
#u66 {
  position:absolute;
  left:1309px;
  top:545px;
  width:265px;
  height:447px;
  font-size:26px;
  text-align:left;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  text-align:left;
}
#u68 {
  position:absolute;
  left:302px;
  top:1046px;
  width:265px;
  height:319px;
  font-size:26px;
  text-align:left;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  text-align:left;
}
#u70 {
  position:absolute;
  left:638px;
  top:1046px;
  width:265px;
  height:319px;
  font-size:26px;
  text-align:left;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  text-align:left;
}
#u72 {
  position:absolute;
  left:973px;
  top:1046px;
  width:265px;
  height:319px;
  font-size:26px;
  text-align:left;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  text-align:left;
}
#u74 {
  position:absolute;
  left:1309px;
  top:1046px;
  width:265px;
  height:319px;
  font-size:26px;
  text-align:left;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:261px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:102px;
  top:393px;
  width:0px;
  height:0px;
}
#u76_seg0 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:8px;
  height:113px;
}
#u76_seg1 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:606px;
  height:8px;
}
#u77 {
  position:absolute;
  left:196px;
  top:-117px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:838px;
  top:284px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:608px;
  height:8px;
}
#u78_seg1 {
  position:absolute;
  left:600px;
  top:-4px;
  width:8px;
  height:113px;
}
#u79 {
  position:absolute;
  left:306px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:435px;
  top:393px;
  width:0px;
  height:0px;
}
#u80_seg0 {
  position:absolute;
  left:-4px;
  top:-114px;
  width:8px;
  height:114px;
}
#u80_seg1 {
  position:absolute;
  left:-4px;
  top:-114px;
  width:5px;
  height:8px;
}
#u81 {
  position:absolute;
  left:-50px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:771px;
  top:393px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  position:absolute;
  left:-4px;
  top:-76px;
  width:8px;
  height:80px;
}
#u83 {
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1106px;
  top:393px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:8px;
  height:113px;
}
#u84_seg1 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:6px;
  height:8px;
}
#u85 {
  position:absolute;
  left:-50px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:435px;
  top:545px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  position:absolute;
  left:-4px;
  top:-85px;
  width:8px;
  height:89px;
}
#u87 {
  position:absolute;
  left:-50px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:771px;
  top:545px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  position:absolute;
  left:-4px;
  top:-85px;
  width:8px;
  height:89px;
}
#u89 {
  position:absolute;
  left:-50px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1106px;
  top:545px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  position:absolute;
  left:-4px;
  top:-85px;
  width:8px;
  height:89px;
}
#u91 {
  position:absolute;
  left:-50px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1442px;
  top:545px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  position:absolute;
  left:-4px;
  top:-85px;
  width:8px;
  height:89px;
}
#u93 {
  position:absolute;
  left:-50px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1442px;
  top:1046px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:-4px;
  top:-54px;
  width:8px;
  height:58px;
}
#u95 {
  position:absolute;
  left:-50px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1106px;
  top:1046px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  position:absolute;
  left:-4px;
  top:-54px;
  width:8px;
  height:58px;
}
#u97 {
  position:absolute;
  left:-50px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:771px;
  top:1046px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  position:absolute;
  left:-4px;
  top:-54px;
  width:8px;
  height:58px;
}
#u99 {
  position:absolute;
  left:-50px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:435px;
  top:1046px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:-54px;
  width:8px;
  height:58px;
}
#u101 {
  position:absolute;
  left:-50px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
